{% extends 'components/layout.html' %}

{% block content %}
<div class="row justify-content-center"><h3 class="text-center">Discover users:</h3></div>
<div class="row ml-3 mr-3">
    {% for user in users %}
    <div class="card mb-3 mr-3" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">@{{ user.username }}</h5>
            <p class="card-text">User bio will go here</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ user.first_name }} {{ user.last_name }}</li>
            <li class="list-group-item">Member since: <span class="float-right">{{ user.date_created }}</span></li>
        </ul>
        <div class="card-body">
            <a href="{{ url_for('blog.userProfile', username=user.username) }}" class="btn btn-block btn-info">View Profile</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}