{% extends 'components/layout.html' %}

{% block css %}
{% endblock css %}

{% block content %}
<!-- form for the user to request data about a certain driver -->
<div class="row justify-content-center">
    <div class="col-6">
        <form class="form-inline" method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.drivername(class="mr-3 form-control", placeholder="Driver") }}
            </div>
            {{ form.submit(class="btn btn-info") }}
        </form>
        <small id="driverHelp" class="form-text text-muted">Submit the last name of an F1 Driver to get their
            information from the ErgastAPI.</small>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-8">
        {% if driver is string %}
            <h3>There are no F1 drivers with the last name {{ driver }}.</h3>
        {% elif driver %}
        <div class="card">
            <div class="card-header">
                Driver Information:
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">ID:<span class='float-right'>{{ driver['permanentNumber'] }} {{ driver['code'] }}</span></li>
                <li class="list-group-item">First Name:<span class='float-right'>{{ driver['givenName'] }}</span></li>
                <li class="list-group-item">Last Name:<span class='float-right'>{{ driver['familyName'] }}</span></li>
                <li class="list-group-item">DOB:<span class='float-right'>{{ driver['dateOfBirth'] }}</span></li>
                <li class="list-group-item">Nationality:<span class='float-right'>{{ driver['nationality'] }}</span></li>
            </ul>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}